USE [master]
GO
/****** Object:  Database [FlightManagementDB]    Script Date: 7/20/2024 6:56:57 PM ******/
CREATE DATABASE [FlightManagementDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FlightManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FlightManagementDB]
GO
/****** Object:  Table [Account]    Script Date: 7/20/2024 6:56:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Account](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NULL,
	[PassWord] [nvarchar](255) NULL,
	[MemberID] [varchar](20) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [airline]    Script Date: 7/20/2024 6:56:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [airline](
	[id] [int] NOT NULL,
	[code] [varchar](10) NULL,
	[name] [nvarchar](100) NULL,
	[country] [nvarchar](50) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [airport]    Script Date: 7/20/2024 6:56:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [airport](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](10) NULL,
	[name] [nvarchar](100) NULL,
	[country] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [baggage]    Script Date: 7/20/2024 6:56:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [baggage](
	[id] [int] NOT NULL,
	[booking_id] [int] NULL,
	[weight_in_kg] [decimal](4, 2) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [booking]    Script Date: 7/20/2024 6:56:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [booking](
	[id] [int] NOT NULL,
	[passenger_id] [int] NULL,
	[flight_id] [int] NULL,
	[booking_platform_id] [int] NULL,
	[booking_time] [datetime] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [bookingPlatform]    Script Date: 7/20/2024 6:56:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bookingPlatform](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[url] [nvarchar](200) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [flight]    Script Date: 7/20/2024 6:56:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [flight](
	[id] [int] NOT NULL,
	[airline_id] [int] NULL,
	[departing_airport] [int] NULL,
	[arriving_airport] [int] NULL,
	[departing_gate] [varchar](10) NULL,
	[arriving_gate] [varchar](10) NULL,
	[departure_time] [datetime] NULL,
	[arrival_time] [datetime] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [passenger]    Script Date: 7/20/2024 6:56:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [passenger](
	[id] [int] NOT NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[date_of_birth] [date] NULL,
	[country] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[gender] [nvarchar](20) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Account] ON 

INSERT [Account] ([AccountId], [Email], [PassWord], [MemberID], [status]) VALUES (1, N'Admin@gmail.com', N'@admin123', N'Admin', NULL)
INSERT [Account] ([AccountId], [Email], [PassWord], [MemberID], [status]) VALUES (2, N'Staff@gmail.com', N'@staff123', N'Staff', NULL)
INSERT [Account] ([AccountId], [Email], [PassWord], [MemberID], [status]) VALUES (3, N'vinhnche171726@fpt.edu.vn', N'$2a$11$1j6vTvMRuSca8eiJLixNjeYCkPi6z5x7smJlZV/ymq33l4hh9wJ9.', N'Staff', NULL)
SET IDENTITY_INSERT [Account] OFF
GO
INSERT [airline] ([id], [code], [name], [country], [status]) VALUES (1, N'VN', N'Vietnam Airlines', N'Vietnam', 1)
INSERT [airline] ([id], [code], [name], [country], [status]) VALUES (2, N'CZ', N'China Southern Airlines', N'China', 1)
INSERT [airline] ([id], [code], [name], [country], [status]) VALUES (3, N'CI', N'China Airlines', N'China', 1)
GO
SET IDENTITY_INSERT [airport] ON 

INSERT [airport] ([id], [code], [name], [country], [state], [city], [status]) VALUES (1, N'DEN', N'Denver International Airport', N'United States', N'Colorado', N'Denver', 1)
INSERT [airport] ([id], [code], [name], [country], [state], [city], [status]) VALUES (2, N'ATL', N'Atlanta Hartsfield-Jackson Airport', N'United States', N'Georgia', N'Atlanta', 0)
INSERT [airport] ([id], [code], [name], [country], [state], [city], [status]) VALUES (3, N'ADÐ', N'Istanbul International Airport', N'Turkey', N'', N'Istanbul', 1)
SET IDENTITY_INSERT [airport] OFF
GO
INSERT [baggage] ([id], [booking_id], [weight_in_kg], [status]) VALUES (1, 264, CAST(23.10 AS Decimal(4, 2)), 1)
INSERT [baggage] ([id], [booking_id], [weight_in_kg], [status]) VALUES (2, 316, CAST(23.70 AS Decimal(4, 2)), 1)
INSERT [baggage] ([id], [booking_id], [weight_in_kg], [status]) VALUES (3, 419, CAST(22.80 AS Decimal(4, 2)), 1)
GO
INSERT [booking] ([id], [passenger_id], [flight_id], [booking_platform_id], [booking_time], [status]) VALUES (1, 357, 319, 9, CAST(N'2023-03-11T12:39:05.000' AS DateTime), 0)
INSERT [booking] ([id], [passenger_id], [flight_id], [booking_platform_id], [booking_time], [status]) VALUES (2, 74, 96, 2, CAST(N'2023-03-16T15:49:44.000' AS DateTime), 0)
INSERT [booking] ([id], [passenger_id], [flight_id], [booking_platform_id], [booking_time], [status]) VALUES (3, 473, 227, 2, CAST(N'2022-05-21T16:06:23.000' AS DateTime), 0)
GO
INSERT [bookingPlatform] ([id], [name], [url], [status]) VALUES (1, N'Make me trip', N'https://www.makemytrip.com/', 1)
INSERT [bookingPlatform] ([id], [name], [url], [status]) VALUES (2, N'Trip Ninja', N'https://www.tripninja.io/', 1)
INSERT [bookingPlatform] ([id], [name], [url], [status]) VALUES (3, N'Capterra', N'https://www.capterra.com/', 1)
GO
INSERT [flight] ([id], [airline_id], [departing_airport], [arriving_airport], [departing_gate], [arriving_gate], [departure_time], [arrival_time], [status]) VALUES (1, 17, 12, 9, N'2E', N'2A', CAST(N'2023-05-31T13:15:22.000' AS DateTime), CAST(N'2023-06-01T03:53:22.000' AS DateTime), 1)
INSERT [flight] ([id], [airline_id], [departing_airport], [arriving_airport], [departing_gate], [arriving_gate], [departure_time], [arrival_time], [status]) VALUES (2, 8, 18, 17, N'1C', N'2E', CAST(N'2023-08-16T14:21:12.000' AS DateTime), CAST(N'2023-08-16T23:57:12.000' AS DateTime), 1)
INSERT [flight] ([id], [airline_id], [departing_airport], [arriving_airport], [departing_gate], [arriving_gate], [departure_time], [arrival_time], [status]) VALUES (3, 10, 5, 9, N'2D', N'2C', NULL, NULL, 1)
GO
INSERT [passenger] ([id], [first_name], [last_name], [date_of_birth], [country], [email], [gender], [status]) VALUES (1, N'Taddeo', N'Rabjohns', CAST(N'1974-06-29' AS Date), N'Mongolia', N'trabjohns0@so-net.ne.jp', N'Male', 1)
INSERT [passenger] ([id], [first_name], [last_name], [date_of_birth], [country], [email], [gender], [status]) VALUES (2, N'Rad', N'Baudins', CAST(N'1975-05-31' AS Date), N'Bulgaria', N'rbaudins1@ihg.com', N'Male', 1)
INSERT [passenger] ([id], [first_name], [last_name], [date_of_birth], [country], [email], [gender], [status]) VALUES (3, N'Kylila', N'Millins', CAST(N'1944-02-09' AS Date), N'Israel', N'kmillins2@utexas.edu', N'Female', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__airline__357D4CF97765F293]    Script Date: 7/20/2024 6:56:57 PM ******/
ALTER TABLE [airline] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__airline__72E12F1BC45895B9]    Script Date: 7/20/2024 6:56:57 PM ******/
ALTER TABLE [airline] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__airport__357D4CF90A29D412]    Script Date: 7/20/2024 6:56:57 PM ******/
ALTER TABLE [airport] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [baggage]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [booking] ([id])
GO
ALTER TABLE [booking]  WITH CHECK ADD FOREIGN KEY([booking_platform_id])
REFERENCES [bookingPlatform] ([id])
GO
ALTER TABLE [booking]  WITH CHECK ADD FOREIGN KEY([flight_id])
REFERENCES [flight] ([id])
GO
ALTER TABLE [booking]  WITH CHECK ADD FOREIGN KEY([passenger_id])
REFERENCES [passenger] ([id])
GO
ALTER TABLE [flight]  WITH CHECK ADD FOREIGN KEY([airline_id])
REFERENCES [airline] ([id])
GO
ALTER TABLE [flight]  WITH CHECK ADD FOREIGN KEY([arriving_airport])
REFERENCES [airport] ([id])
GO
ALTER TABLE [flight]  WITH CHECK ADD FOREIGN KEY([departing_airport])
REFERENCES [airport] ([id])
GO
USE [master]
GO
